body{
  font-family: 'Press Start 2P', sans-serif;
  color: rgb(156, 116, 234);
  background:
    url(https://wallpapercrafter.com/desktop/129983-198x-1980s-pixel-art-Retro-style-Hi-Bit-Studios-video-game-art-video-games-city-building.jpg)
    center / cover no-repeat fixed; 
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style:normal;
}