
.container{
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(15px);
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  margin: 23px;
  border-radius: 3px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px rgb(251, 1, 254);

}





.button {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 12px;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;
}

